@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #1b2838;
}
::-webkit-scrollbar-thumb {
  background: #2a3f5a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4c6b82;
}
